//  Buttons
//  =======

//  Hat-Tip:
//  Loosely Based on beautons - a beautifully simple button toolkit.
//  LICENSE - http://apache.org/licenses/LICENSE-2.0
//  Copyright 2013 Harry Roberts
//  @csswizardry -- csswizardry.com/beautons

//  Modified by me





//------------------------------------//
//  Config
//------------------------------------//

$use-buttons            : false !default;





//------------------------------------//
//  Code
//------------------------------------//

@if $use-buttons == true {

    //------------------------------------//
    //  Basic
    //------------------------------------//

    .b-btn {
        cursor: pointer;
        display: inline-block;
        font-family: inherit;
        font-size: 100%;
        vertical-align: middle;
        white-space: nowrap;
        
        &, &:hover {
            text-decoration: none;      // [9]
        }
        
        &:active,
        &:focus,
        &:visited {
            outline: none
        }
    }

}