//	Embeds
//  ======

//	For:
//	Embedding objects/iframes
//	http://embedresponsively.com/





//------------------------------------//
//  Config
//------------------------------------//

$use-embeds 	: false !default;





//------------------------------------//
//  Code
//------------------------------------//

@if $use-embeds == true {

	//------------------------------------//
	//  Basic
	//------------------------------------//

	.b-embed {
		position: relative; 	
		height: 0; 
		overflow: hidden; 
		padding-top: 30px; 
	}

	.b-embed iframe, 
	.b-embed object, 
	.b-embed embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	}





	//------------------------------------//
	//  Video
	//------------------------------------//

	.b-embed--video { 
		max-width: 100% !important; 
		height: auto !important; 

		padding-bottom: 56.25%;
	} 





	//------------------------------------//
	//  Instagram
	//------------------------------------//

	.b-embed--instagram {
		padding-bottom: 120%; 
	}





	//------------------------------------//
	//  Gogole Maps
	//------------------------------------//

	.b-embed--maps { 
		max-width: 100% !important; 
		height: auto !important; 

		padding-bottom: 56.25%;
	} 


}