//	Forms
//  =====



//	Form-Fields





//------------------------------------//
//  Config
//------------------------------------//

$use-forms      : true !default;


//------------------------------------//
//	Form-Fields 
//------------------------------------//

@if $use-forms == true{

	select, textarea, input {
		@include font-size($font-size);
		font-family: $font-family;
	}

	.b-form-fields {
		list-style: none;

		margin: 0;
	}

		.b-form-fields > li {
			margin: 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
}//endif