//	Grid
//  ====

//	Container + Row
//	Tablet Classes
//	Desktop Classes





//------------------------------------//
//  Config
//------------------------------------//

$use-grid					: false !default;

$grid-column-width 			: 60px;
$grid-gutter 				: 10px;
$grid-columns  				: 12;



@if $use-grid == true{

//------------------------------------//
//  Container
//------------------------------------//

.b-grid,
.b-grid-row {
	@include grid-row();
}





//------------------------------------//
//  Tablet
//------------------------------------//


.b-9-cols\@tablet,
.b-8-cols\@tablet,
.b-6-cols\@tablet,
.b-5-cols\@tablet,
.b-4-cols\@tablet,
.b-3-cols\@tablet {
	margin-bottom: $gutter*2;
}

@include mq($bp-tablet) {
	.b-9-cols\@tablet,
	.b-8-cols\@tablet,
	.b-6-cols\@tablet,
	.b-5-cols\@tablet,
	.b-4-cols\@tablet,
	.b-3-cols\@tablet {
		margin: 0;
	}

	.b-9-cols\@tablet {
		@include grid-basic(9);
	}

	.b-8-cols\@tablet {
		@include grid-basic(8);
	}	

	.b-7-cols\@tablet {
		@include grid-basic(6);
	}

	.b-6-cols\@tablet {
		@include grid-basic(4);
	}

	.b-5-cols\@tablet {
		@include grid-basic(5);
	}

	.b-4-cols\@tablet {
		@include grid-basic(4);
	}

	.b-3-cols\@tablet {
		@include grid-basic(3);
	}
}






//------------------------------------//
//  Desktop
//------------------------------------//


.b-9-cols\@desktop,
.b-8-cols\@desktop,
.b-6-cols\@desktop,
.b-5-cols\@desktop,
.b-4-cols\@desktop,
.b-3-cols\@desktop {
	margin-bottom: $gutter*2;
}

@include mq($bp-desktop) {
	.b-9-cols\@desktop,
	.b-8-cols\@desktop,
	.b-6-cols\@desktop,
	.b-5-cols\@desktop,
	.b-4-cols\@desktop,
	.b-3-cols\@desktop {
		margin: 0;
	}

	.b-9-cols\@desktop {
		@include grid-basic(9);
	}

	.b-8-cols\@desktop {
		@include grid-basic(8);
	}	

	.b-7-cols\@desktop {
		@include grid-basic(6);
	}

	.b-6-cols\@desktop {
		@include grid-basic(4);
	}

	.b-5-cols\@desktop {
		@include grid-basic(5);
	}

	.b-4-cols\@desktop {
		@include grid-basic(4);
	}

	.b-3-cols\@desktop {
		@include grid-basic(3);
	}
}


}	//	End If