//  Media Object
//  ============

//  For:
//  Images next to text

//  Hat-tip:
//  http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
//  +
//  https://www.quackit.com/css/flexbox/tutorial/create_a_media_object_with_flexbox.cfm





//------------------------------------//
//  Config
//------------------------------------//

$use-media      : false !default;





//------------------------------------//
//  Code
//------------------------------------//

@if $use-media == true{

    //------------------------------------//
    //  Media
    //------------------------------------//

    .b-media {
        align-items: flex-start;
        display: flex;
    }





    //------------------------------------//
    //  Object
    //------------------------------------//

    .b-media__object {
        margin-right: 1rem;
    }


    // Reverse object location
    .b-media__img--rev, 
    .b-media__object--rev {
        margin-left: 1rem;
        margin-right: 0;
        order: 1;
    }





    //------------------------------------//
    //  Body
    //------------------------------------//

    .b-media__body {
        flex: 1;
    }


        .b-media__body,
        .b-media__body > :last-child {
            margin-bottom:0;
        }





}//endif