//------------------------------------//
//  Colours
//------------------------------------//

$color-body 		: 	#fff;
$color-text 		: 	#000;

$color-theme 		: 	red;

$color-neutral 		: 	grey;

$color-link 		: 	$color-theme;