//------------------------------------//
//  Spacing
//------------------------------------//

$gutter                         : 20px;





//------------------------------------//
//  Breakpoints
//------------------------------------//

// Use EMs for Breakpoints: http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/

$bp-mobile 						: 30em;
$bp-tablet 						: 48em;
$bp-desktop 					: 64em;

$bp-max 						: 87.5em;