//------------------------------------//
//  Families
//------------------------------------//

$font-family                    : Helvetica, Arial, sans-serif;
$heading-font-family 			: Helvetica, sans-serif;	





//------------------------------------//
//  Sizes
//------------------------------------//

$font-size                 		: 16;
$line-height               		: 1.5;


	//
	//	Headings
	//

	$h1-size 						: 36;									// .alpha
	$h2-size 						: 30;									// .beta
	$h3-size 						: 24;									// .gamma
	$h4-size 						: 20; 									// .delta
	$h5-size 						: 16; 									// .epsilon
	$h6-size 						: 14; 									// .zeta



	//	Bigger

	$kilo-size 						: 42;									// BIGGER



	//	Smaller

	$milli-size 					: 14;									// SMALL
	$micro-size 					: 12;									// SMALLER





//------------------------------------//
//  Weights
//------------------------------------//

$font-weight 					: normal;
$font-weight-bold 				: bold;







