//------------------------------------//
//  Families
//------------------------------------//

$font-family              : Helvetica, Arial, sans-serif;
$heading-font-family 			: Helvetica, sans-serif;	





//------------------------------------//
//  Sizes
//------------------------------------//

$font-size                 		: 16;
$line-height               		: 1.5;





//------------------------------------//
//  Weights
//------------------------------------//

$font-weight 					: normal;
$font-weight-bold 		: bold;